.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
  }
  
  .mood-entry-form {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  
  .mood-entry-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(28, 228, 92);
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
    font-size: 20px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2.5px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #007bff;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-group fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .form-group fieldset legend {
    font-weight: bold;


  }
  .form-container fieldset legend{
    font-size:20px;
    color: rgb(5, 69, 69);
    font-weight: bold;
  }
  
  .form-group fieldset label {
    display: block;
    margin-bottom: 5px;
    
  }
  .button-con{
    display: flex;
    justify-content: center;
  }
  .submit-button {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  