.main-que-ans-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .question-con, .Names {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
  }
  
  .NamesItem {
    width: 600px;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .NamesButton {
    background-color: #f7fafc;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s;
    flex: 0 0 auto;
    
  }
  
  .NamesButton:hover {
    background-color: #e2e8f0;
  }
  
  .NamesPanel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
    padding: 15px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 20px;
    flex: 1 1 auto;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 10px;
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  