/* Container for the login box */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

/* Styling for the login box */
.login-box {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Increased width for a larger box */
  text-align: center;
  display: flex;
  flex-direction: column; /* Align items vertically */
}

/* Heading styling */
.login-box h1 {
  margin-bottom: 1.5rem;
  color: #984b2a;
}

/* Form group styling */
.login-box .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

/* Label styling */
.login-box label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Input field styling */
.login-box input {
  width: 100%;
  padding: 0.75rem;
  border: 3px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box; /* Ensure padding is included in the total width */
}

/* Button styling */
.login-box .login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  width: 300px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-box .login-button:hover {
  background-color: #0056b3;
}

/* Paragraph and link styling */
.login-box p {
  margin-top: 1rem;
  color: #333;
}

.login-box a {
  color: #007bff;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}
.sign{
  font-size: 20px;
}
.message-con{
  display: flex;
  justify-content: center;
}
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.message.success {
  background-color: #9082f9;
  color: #007bb2;
  border: 1px solid #007bb2;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.message.error {
  background-color: #ffebee;
  color: #c62828;
  border: 1px solid #c62828;
}
.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #4285F4;
  border: 1px solid #4285F4;
  border-radius: 4px;
  padding: 5px ;
  width: 400px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.google-login-button:hover {
  background-color: #4285F4;
  color: white;
}

.google-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.google-btn{
  display: flex;
  justify-content: center;
}